<style>


    div.aRoute {
        position:relative; 
        left:80px; 
        top:80px;
        background-color: #eeeeee;
        height: 300px;
        width: 400px;
        padding: 80px;
        border-radius: 10px;
    }

    li {
        font-size: 1.05em;
        list-style: none;
        padding-right: 10px;
    }

    p {
        position:relative; 
        left:80px; 
        top:80px;
        font-weight: 600;
        font-size: 1.5em;
        background-color: grey;
        width: 400px;
    }

    
</style>

<body>
<% @train_routes.each do |route| %>
    <div class = "aRoute">
    <li> Departing: <%= route.departing %> </li>
    <li> Destination: <%= route.destination %> </li>
    <button><%= link_to "delete route", delete_route_path(route) %></button>
    </div>
<% end %>
</body>
