<% @user.train_routes.each do |route| %>
    <ul>
    <li> Departing: <%= route.departing %> </li>
    <li> Destination: <%= route.destination %> </li>
    <p><%= link_to "delete route", delete_route_path(route) %></p>
    <br>
    </ul>
<% end %>